@media print {
    @page {
        size: A4;
    }
    .container {
        margin:0;
        padding:0;
        box-shadow: none;
        background-color: #b33333;
        width: 1000px;
        .container-block {
            padding:0;
            
        }
        .header {
            input, label {
                display: none;
            }
        }
    }
}